<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>PLC Program</title>

<link rel="stylesheet" type="text/css" href="css/layout.css">
<link rel="stylesheet" type="text/css" href="css/slicknav.css">

<script type="text/javascript" src="js/fontawesome.js"></script>
<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>

<!--  nav  -->
<script src="js/jquery.slicknav.js"></script>

<!-- jQuery Modal -->
<script src="js/jquery.modal.min.js"></script>
<link rel="stylesheet" href="css/jquery.modal.min.css" />