<div class="inner_wrap">
    <div class="clear">
        <h1><span>P</span><span>L</span><span>C</span> Program</h1>
        <div class="user">
            <p><span class="icon_user"><i class="fas fa-user i_user"></i></span>홍길동님 로그인하셨습니다.</p>
            <a href="#" class="btn_login">LOGOUT</a>
        </div>
    </div>
</div>
<nav>
    <div class="nav_wrap">
        <h2 class="blind">주메뉴</h2>
        <ul id="menu">
            <li><a href="/plc_list" class="curent">PLC</a>
                <ul>
                    <li><a href="/plc_list">PLC 데이터 리스트</a></li>
                    <li><a href="/plc">PLC 관리</a></li>
                </ul>
            </li>
            <li><a href="/equipment_sensor_list">설비&middot;센서</a>
                <ul>
                    <li><a href="/equipment_sensor_list">변환된 설비&middot;센서 리스트</a></li>
                    <li><a href="/equipment_sensor">설비&middot;센서 관리</a></li>
                </ul>
            </li>
            <li><a href="02_01.html">매칭</a>
                <ul>
                    <li><a href="#">매칭 관리</a></li>
                </ul>
            </li>
            <li><a href="03_01.html">대시보드</a>
                <ul>
                    <li><a href="#">대시보드 관리</a></li>
                    <li><a href="#">대시보드 A</a></li>
                </ul>
            </li>
            <li><a href="04_01.html">3D관제(Unity)</a>
                <ul>
                    <li><a href="#">Unity 관리</a></li>
                </ul>
            </li>
            <li><a href="05_01.html">권한 그룹</a>
                <ul>
                    <li><a href="#">A공장 설비 리스트</a></li>
                    <li><a href="#">그룹 및 권한 설정</a></li>
                </ul>
            </li>
            <li><a href="06_01.html">사용자 권한</a>
                <ul>
                    <li><a href="#">사용자 권한 설정</a></li>
                    <li><a href="#">사용자 그룹 설정</a></li>
                </ul>
            </li>
            <li><a href="07_01.html">회사 기본정보</a>
                <ul>
                    <li><a href="#">회사 설정</a></li>
                </ul>
            </li>
            <li><a href="08_01.html">회사 매칭</a>
                <ul>
                    <li><a href="#">회사와 사용자 매칭</a></li>
                    <li><a href="#">공장과 설비 매칭</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
